body{
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
    color:#616971;
}
.top-bar{
        height: 2.8rem;
        font-size: 1.1rem !important;
        font-weight: 100 !important;
        padding: 0.5rem 0;
        a{
            text-decoration: none;
        }
    }
nav{
    box-shadow: 0px 3px 1px rgba(0,0,0,0.2);
    letter-spacing: 0.1rem;
    z-index: 1;
    .navbar-brand{
        font-size: 1.2rem;
        font-weight: bold;
    }
      .nav-item{
          padding: 0rem 0.5rem;
          text-transform: uppercase;
          .nav-link{
              font-size: 1rem;
              color: #000!important;
          }
          .nav-link:hover,.active{
              color: #17A2B8 !important;
          }
      }
      .nav-item:last-child{
          padding-right: 0rem;
      }

} 
#carouselshow{
    .image-one{
       background: url('../Img/pexels-ketut-subiyanto-4126743.jpg');
       background-repeat: no-repeat;
       background-size: cover;
       height:350px;
       background-attachment: fixed;

    }
    .image-two{
        background: url('../Img/pexels-andrea-piacquadio-842548.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        height:350px;
 
     }
     .image-three{
        background: url('../Img/third3.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        height:350px;
     }
     .carousel-caption{
         position: relative;
         .inner{
             
             position: absolute;
             border-radius: 20px;
             top:150px;
             left: 10%;
             background: rgba(0,0,0,0.2);
             padding: 20px;
             h1{
                 text-shadow:0px 4px 3px black;
             }
             .btn-lg{
                 border-radius: 0px;
                 padding: .5rem;
                 margin-left: 20px;
             }
         }
     }
    
}   

